{% extends 'base.html.twig' %}

{% block title %}Ticket &laquo;{{ ticket.topic }}&raquo;{% endblock %}

{% block body %}
    <h1>{{ ticket.topic }}</h1>
    <p>ID: {{ ticket.id }}</p>
    <p>Created: {{ ticket.createdAt | date('d.m.Y H:i:s') }}</p>
    <p>Status: {{ ticket.status.name }}</p>
    <table class="table">
        <thead>
        <tr>
            <th>Author</th>
            <th>Message</th>
        </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td>
                    {{ message.author.email ?? message.author.name }}
                    <br/>
                    {{ message.createdAt | date('d.m.Y H:i:s') }}
                </td>
                <td>{{ message.message | nl2br }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <hr class="my-4" />
    <h2>Send message in ticket</h2>
    {{ form_start(sendMessageForm) }}
    {{ form_widget(sendMessageForm) }}
    <button class="btn btn-primary">{{ button_label|default('Send') }}</button>
    {{ form_end(sendMessageForm) }}
{% endblock %}
